.DS_Store
Thumbs.db

__pycache__/
*.pyc
.venv/
env/
datasets/
output/
result/
results/

*.tif
*.csv 
*.tsv
*.csv.*
*.tsv.*
*.npy

!test_data/gene_matrix_test.csv.gz 
!test_data/staining_image_test.tif